html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    transform-origin: 0 0;
    background: rgb(167 232 161);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-height: 850px) {
    body {
        height: auto;
    }
}
.device {
    background-image: url("/assets/background3.jpeg");
  background-repeat: no-repeat;
  background-size: 375px 812px;;
    position: relative;
    box-sizing: content-box;
    min-width: 375px;
    width: 375px;
    height: 812px;
    border-radius: 50px;
    border: 10px solid black;
}


.device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    display: block;
    border-radius: 40px;
}
.header {
    position: absolute;
    height: 64px;
    line-height: 64px;
    padding: 0 32px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.header .etc {
    float: right;
}