@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');


.icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  transform-origin: 0 0;
  display: inline-block;
  margin-left: 27px;
  margin-bottom: 40px;
  cursor: pointer;
}

.icon.big {
  width: 321px;
  height: 160px;
}

.icon-container {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0px);
  box-sizing: border-box;
  overflow: hidden;
}
.whale {
  --whale-background-color: #0F1849;
  --whale-body-color: #54CC94;
  background: #1F31AA;
}
.whale .icon-container {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--whale-background-color);
}
.whale .star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  top: 11px;
  left: 8px;
  border-radius: 50%;
  opacity: 0.8;
}
.whale .star:nth-child(2) {
  top: 13px;
  left: 15px;
  width: 2px;
  height: 2px;
}
.whale .star:nth-child(3) {
  top: 5px;
  left: 20px;
}
.whale .star:nth-child(4) {
  top: 7px;
  left: 30px;
}
.whale .icon-container:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  box-sizing: border-box;
  border: 1px solid var(--whale-background-color);
  border-radius: 50%;
}
.whale .bottom {
  position: absolute;
  top: 0%;
  left: 30%;
  transform: rotate(35deg);
  transform-origin: 0% 50%;
  width: 100%;
  height: 100%;
  background: var(--whale-body-color);
  border-radius: 50% 0 0 0;
}
.whale .bottom .curve {
  position: absolute;
  top: 47%;
  right: 100%;
  width: 15px;
  height: 8px;
  background: var(--whale-background-color);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}
.whale .tail {
  position: absolute;
  top: 30%;
  left: 0%;
  transform: rotate(30deg) translate(-50%);
  transform-origin: 0% 0%;
  width: 100%;
  height: 100%;
  background: var(--whale-body-color);
}

.whale .bottom .mouth {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 30% 0 0 0;
  transform-origin: 20% 0%;
  transform: rotate(-10deg);
  left: 25%;
  background: #DBE7E8;
}
.whale .bottom .mouth:after {
  content: "";
  top: 67%;
  right: 98%;
  width: 5px;
  height: 12px;
  background: inherit;
  position: absolute;
}
.whale .eye {
  position: absolute;
  width: 3px;
  height: 3px;
  background: var(--whale-background-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.whale .hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 7px;
  background: var(--whale-body-color);
  border-radius: 0 0 0% 70% / 0 0 100% 100%;
  transform: translate(13px, 37px) rotate(-62deg) translateZ(0px);
  transform-origin: 100% 100%;
}

.amongus {
  --amongus-body-color: #DB0F21;
  --amongus-body-shadow-color: #6A2031;
  background: #efd524;  
}
.amongus .icon-container {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.amongus .character {
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 67%;
  height: 100%;
  border-radius: 58% 40% 40% 40% / 40% 30% 30% 30% ;
  border: 5px solid black;
  box-sizing: border-box;
  background: var(--amongus-body-color);
  box-shadow: inset 0px -9px 0px 1px var(--amongus-body-shadow-color);

}
.amongus .character .glass {
  position: absolute;
  width: 70%;
  height: 25%;
  right: 25%;
  top: 13%;
  border-radius: 40% 40% 45% 55% / 50%;
  border: 5px solid black;
  background: #fff;
  box-shadow: inset -1px -1.5px 0px 1px #2E4A74, inset -2.2px -2px 0px 4px #87CBE7;
}
.amongus .bag {
  position: absolute;
  left: 47%;
  bottom: 0;
  width: 30%;
  height: 40%;

  border-radius: 25% / 50%;
  border: 5px solid black;
  background: var(--amongus-body-color);
  overflow: hidden;
}
.amongus .bag:after {
  position: absolute;
  content: "";
  background: var(--amongus-body-shadow-color);
  width: 60%;
  height: 90%;
  border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  left: 50%;
  top: 20%;
}
.maplehands {
  background: linear-gradient(#EC9649, #EC9649, #EB6B46, #EB6B46);
}
.maplehands .icon-container {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.maplehands .leaf {
  transform-origin: 50px 50px;
}
.maplehands .leaf2 {
  transform: translateY(3px) rotate(60deg);
}
.maplehands .leaf3 {
  transform: translateY(3px) rotate(-60deg);
}
.maplehands .leaf4 {
  transform: rotate(135deg);
}
.maplehands .leaf5 {
  transform: rotate(-135deg);
}
.caculator {
  background: #D0D0D0;
}
.caculator .icon-container {
  position: absolute;
  width: 30px;
  height: 43px;
  border-radius: 5px;
  background: #191919;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 0px;
  box-sizing: border-box;
}
.caculator .screen {
  position: relative;
  width: 24px;
  height: 10px;
  background: #444444;
  border-radius: 2px;
  margin-left: 3px;
}
.caculator .button {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #C7C7C5;
  display: inline-block;
  margin-left: 3px;
  margin-top: 3px;
}
.caculator .button.zero {
  width: 15px;
}
.caculator .button.orange {
  background: #EB8415;
}

.photo {
  background: #eee;
}
.photo .icon-container {
  width: 100%;
  height: 100%;
}
.photo .origin {
  position: absolute;
  top: 50%;
  left: 50%;
}
.photo .wing {
  position: absolute;
  width: 12px;
  height: 20px;
  border-radius: 6px;
  margin-left: -6px;
  bottom: 2px;
  background: #D38423;
  opacity: 0.8;
  transform-origin: 50% calc(100% + 2px);
}
.photo .wing:nth-child(2) {
  transform: rotate(45deg);
  background-color: #CBCB1B;
}
.photo .wing:nth-child(3) {
  transform: rotate(90deg);
  background-color: #90C823;
}
.photo .wing:nth-child(4) {
  transform: rotate(135deg);
  background-color: #4F9479;
}
.photo .wing:nth-child(5) {
  transform: rotate(180deg);
  background-color: #5570C4;
}
.photo .wing:nth-child(6) {
  transform: rotate(225deg);
  background-color: #6D5497;
}
.photo .wing:nth-child(7) {
  transform: rotate(270deg);
  background-color: #A25184;
}
.photo .wing:nth-child(8) {
  transform: rotate(315deg);
  background-color: #ee5B54;
}
.settings {
  --settings-color: #CACECF;
  --settings-background-color: #484848;
  background: var(--settings-color);
}
.settings .icon-container {
  background: var(--settings-background-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.settings .gear {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 3px solid var(--settings-color);
  border-radius: 50%;
}
.settings .gear:before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px dotted var(--settings-color);
}
.settings .center {
  position: absolute;
  top: 50%;
  left: 50%;
}
.settings .bar {
  position: absolute;
  width: 3px;
  height: 19px;
  bottom: 0;
  transform-origin: 50% 100%;
  transform: translate(-50%) rotate(-20deg);
  background: var(--settings-color);
}
.settings .bar:nth-child(2) {
  transform: translate(-50%) rotate(100deg);
}
.settings .bar:nth-child(3) {
  transform: translate(-50%) rotate(220deg);
}
.settings .center:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  top: -1px;
  left: -1px;
  background: var(--settings-background-color);
}
.youtube {
  background: white;
}
.youtube .icon-container {
  width: 100%;
  height: 100%;
}
.youtube .red {
  position: absolute;
  width: 36px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.youtube .red:before, .youtube .red:after  {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #D01C23;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.youtube .red:before {
  border-radius: 50% / 3px;
  height: calc(100% + 6px);
}
.youtube .red:after {
  border-radius: 3px / 50%;
  width: calc(100% + 6px);
}
.youtube .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 11px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;  
  z-index: 1;
}




.sms {
  background: -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%);
background: -moz-linear-gradient(top, #86fe65 0%, #06d315 100%);
background: -ms-linear-gradient(top, #86fe65 0%, #06d315 100%);
background: -o-linear-gradient(top, #86fe65 0%, #06d315 100%);
background: linear-gradient(top, #86fe65 0%, #06d315 100%);
box-shadow: 0 0 0 1px rgba(134, 254, 101, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05) inset;

}
.sms .icon-container {
  width: 40px;
  height: 35px;
}
.sms .icon-container:before {
  content: "";
  position: absolute;
  left: 20%;
  top: 78%;
  width: 10px;
  height: 11px;
  border-radius: 0 0 100% 0;
  background: var(--sms-color);
  box-shadow: inset white -5px 1px 0px;
  transform-origin: 50% 0%;
  transform: rotate(20deg);
}
.sms .icon-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
}
.webtoon {
  background: #37D049;
  text-align: center;
  color: #37D049;
  font-size: 12px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

.webtoon .icon-container {
  background: white;
  width: 50px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(93% 0%, 87% 40%, 100% 40%, 92% 85%, 50% 100%, 50% 85%, 15% 92%, 0% 40%, 15% 40%, 7% 12%);
}
.webtoon p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.navercafe {
  background: #31BC2E;
}
.navercafe .icon-container {
  width: 100%;
  height: 100%;
}
.navercafe .coffee {
  position: absolute;
  background: white;
  width: 36px;
  height: 28px;
  top: 60%;
  left: 47%;
  border-radius: 0 0 50% 50% / 0% 0% 18px 18px;
  transform: translate(-50%, -50%);
}
.navercafe .coffee:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid white;
  transform: translateY(-50%);
  background: #7A3F2E;
  box-shadow: inset #BFC0BC 0px 2px;
  z-index: 1;
}
.navercafe .coffee:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 4px solid white;
  left: 100%;
  transform: translate(-55%) rotate(-45deg);
  z-index: 0;
}
.navercafe .leaf {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 2;
  bottom: 95%;
  left: 60%;
  transform: translate(-50%);
}
.navercafe .leaf:before, .navercafe .leaf:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100% 0%;
  background: #47F237;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
.navercafe .leaf:after {
  background: #2EB32A;
  transform: rotate(180deg);
}
.safari {
  background: #fff;
}
.safari .icon-container {
  width: 46px;
  height: 46px;
  background: linear-gradient(#4AC4F6, #3546F7);
  border-radius: 50%;
}
.safari .icon-container:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px dotted white;
  border-radius: 50%;
}
.safari .needle {
  position: absolute;
  top: 50%;
  left: 50%;
}
.safari .needle:before, .safari .needle:after {
  content: "";
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 18px solid red;
  bottom: 0;
  transform-origin: 50% 100%;
  transform: translate(-50%) rotate(45deg);
}
.safari .needle:after {
  transform: translate(-50%) rotate(225deg);
  border-bottom-color: white;
}
.clock {
  background: black;
}
.clock .icon-container {
  width: 46px;
  height: 46px;
  background: white;
  border-radius: 50%;
}
.clock .nums {
  position: absolute;
  top: 50%;
  left: 50%;
}
.clock span {
  position: absolute;
  font-size: 10px;
}
.clock .hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: #333;
  width: 1px;
  transform: translate(-50%);
  transform-origin: 50% 100%;
}
.clock .hand.hour {
  height: 13px;
}
.clock .hand.minute {
  height: 19px;
}
.clock .hand.second {
  height: 21px;
  background: red;
  bottom: calc(50% - 4px);
  transform-origin: 50% calc(100% - 4px);
}
.clock .icon-container:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**/

.find .icon-container {
  width: 48px;
  height: 48px;

  background-color: #2F883E;
  border-radius: 50%;
  border: 1px solid black;
  overflow:hidden;
}
.secondRing {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #44ff4e;
  border-radius: 50%;
  margin: 0 auto;
  vertical-align: middle;
  overflow: hidden;
}

.find {
  display: inline-block;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  background-color: #ececec;
  position: relative;
}

.thirdRing {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid #44ff4e;
  border-radius: 50%;
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 8px;
  left: 8px;
}

.fourthRing {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #44ff4e;
  border-radius: 50%;
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 8px;
  left: 8px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.scan {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#44ff4e), color-stop(10%, #44ff4e), to(transparent));
  background: linear-gradient(0deg, #44ff4e, #44ff4e 10%, transparent);
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.phone {
  background: -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%);
  background: -moz-linear-gradient(top, #86fe65 0%, #06d315 100%);
  background: -ms-linear-gradient(top, #86fe65 0%, #06d315 100%);
  background: -o-linear-gradient(top, #86fe65 0%, #06d315 100%);
  background: linear-gradient(top, #86fe65 0%, #06d315 100%);
}

.phone .receiver {
  position: absolute;
  vertical-align: middle;
  width: 48px;
  height: 20px;
  top: 16px;
  overflow: hidden;
  -webkit-transform: rotateZ(225deg);
  -moz-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  -o-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}


.phone .icon-container {
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.phone .receiver:before {
  position: absolute;
  content: '';
  width: 24px;
  height: 18px;
  top: 8px;
  left: 50%;
  margin: 0 0 0 -12px;
  z-index: 3;
  border-radius: 7px;
  background: -webkit-linear-gradient(-45deg, #63f056 0%, #3be13e 100%);
  background: -moz-linear-gradient(-45deg, #63f056 0%, #3be13e 100%);
  background: -ms-linear-gradient(-45deg, #63f056 0%, #3be13e 100%);
  background: -o-linear-gradient(-45deg, #63f056 0%, #3be13e 100%);
  background: linear-gradient(-45deg, #63f056 0%, #3be13e 100%);
}

.phone .receiver .inner-part {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.phone .receiver .inner-part.part-1 {
  height: 10px;
  top: 0;
  left: 0;
  z-index: 2;
}

.phone .receiver .inner-part.part-1:before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  top: 1px;
  border-radius: 60px;
  margin: 0 0 0 -16px;
  background: #fff;
}

.phone .receiver .inner-part.part-2 {
  height: 24px;
  top: 6px;
  left: 0;
  z-index: 1;
}

.phone .receiver .inner-part.part-2:before {
  left: 0;
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -o-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}

.phone .receiver .inner-part.part-2:after {
  right: 0;
  -webkit-transform: rotateZ(10deg);
  -moz-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  -o-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}
.phone .receiver .inner-part.part-2:before, .phone .receiver .inner-part.part-2:after {
  position: absolute;
  content: '';
  top: -1px;
  width: 16px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
}

/*  weather */
.weather .icon-container {
  width: 46px;
  height: 38px;
  overflow: hidden;
}
.weather {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #008DEA), to(#00F9F9));
  background: linear-gradient(#008DEA 30%, #00F9F9);
}
.sun {
  background-color: #FFD24A;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
}

.dots {
  width: 24px;
  height: 24px;
  background-color: #E2F9FE;
  opacity: 0.95;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 14px;
}

.dots::before {
  width: 80%;
  height: 80%;
  top: 9px;
  left: -5px;
  border-radius: 50px;
}

.dots::after {
  width: 90%;
  height: 90%;
  top: 6px;
  left: 10px;
  border-radius: 50px;
}

.dots::before, .dots::after {
  content: "";
  background-color: #E2F9FE;
  opacity: 0.95;
  position: absolute;
  border-radius: 50%;
}

.weather .box {
    width: 14px;
    height: 10px;
    background-color: #E2F9FE;
    opacity: 0.95;
    position: absolute;
    top: 18px;
    left: 7px;
}

/* appstore */ 

.app-store {
      background: -webkit-gradient(linear, left top, left bottom, from(#00C4F9), to(#0076F0));
    background: linear-gradient(#00C4F9, #0076F0);
}


.app-store .icon-container {
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.app-storeRectangle {
  background-color: white;
  width: 5px;
  height: 44px;
  border-radius: 10px;
}
.app-storeRectangle.left {
  -webkit-transform: translate(16px, 0px) rotate(30deg);
          transform: translate(16px, 0px) rotate(30deg);
}
.app-storeRectangle.middle {
  -webkit-transform:  translate(0px, -34px) rotate(90deg);
          transform:  translate(0px, -34px) rotate(90deg);
  margin: 0 auto;
}
.app-storeRectangle.right {
  -webkit-transform: translate(28px, -88px) rotate(-30deg);
          transform: translate(28px, -88px) rotate(-30deg);
}


/* naver */
.naver {
  background: -webkit-gradient(linear, left top, left bottom, from(#0BEF68), to(#04B366));
  background: linear-gradient(#0BEF68, #04B366);
}
.naver .icon-container {
  width: 36px;
  height: 36px;
  overflow: hidden;
}


.naver .naver-Rectangle.left {

  position: absolute;
  width: 11px;
  height:40px;
  background-color: white;

}

.naver .naver-Rectangle.middle {
  -webkit-transform: translate(10px, 0px) rotate(-30deg);
  transform: translate(14px, -4px) rotate(-33deg);
  margin: 0 auto;
  position: absolute;
  width: 9px;
  height: 44px;
  background-color: white;
}

.naver .naver-Rectangle.right {
  right:0;
  position: absolute;
  width: 11px;
  height:40px;
  background-color: white;

}

/* camera */
.camera {
  box-shadow: 0 0 0 1px rgba(126, 127, 132, 0.1) inset;
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #898b91 100%);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #898b91 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #898b91 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #898b91 100%);
  background: linear-gradient(top, #f7f7f7 0%, #898b91 100%);
}


.camera .upper:before, .camera .upper:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border: 1px #191918 solid;
  background: #454545;
}


.camera .upper:before {
  top: 3px;
  left: 0;
  -webkit-transform: rotateZ(50deg);
  -moz-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  -o-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
}

.camera .upper:after {
  top: 3px;
  right: 0;
  -webkit-transform: rotateZ(-50deg);
  -moz-transform: rotateZ(-50deg);
  -ms-transform: rotateZ(-50deg);
  -o-transform: rotateZ(-50deg);
  transform: rotateZ(-50deg);
}

.camera .icon-container:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 3px;
  left: 13px;
  top: 1px;
  z-index: 20;
  background: #454545;
  border-top: 1px #191918 solid;
}

.camera .icon-container {
  width: 42px;
  height: 38px;
  overflow: hidden;
  
}


.camera .upper {
  position: absolute;
  width: 24px;
  height: 5px;
  z-index: 10;
  left: 9px;
  overflow: hidden;
}

.camera .case {
  position: absolute;
  width: 40px;
  height: 28px;
  z-index: 2;
  top: 4px;
  border: 1px #191918 solid;
  border-radius: 4px;
  /* box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.6); */
  background: -webkit-linear-gradient(top, #454545 0%, #2b2b2a 100%);
  background: -moz-linear-gradient(top, #454545 0%, #2b2b2a 100%);
  background: -ms-linear-gradient(top, #454545 0%, #2b2b2a 100%);
  background: -o-linear-gradient(top, #454545 0%, #2b2b2a 100%);
  background: linear-gradient(top, #454545 0%, #2b2b2a 100%);
}

.camera .case:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: 6px;
  left: 11px;
  /* transform: translateX(50%); */
  border: 1px white solid;
  border-radius: 16px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.7), 0 0 1px 1px rgba(0, 0, 0, 0.4) inset;
}

.camera .case:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 21px;
  top: 3px;
  left: 0;
  border-top: 1px #8a8a8a solid;
  border-bottom: 1px #8a8a8a solid;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset;
}

.camera .knob {
  position: absolute;
  width: 5px;
  height: 3px;
  top: 2px;
  left: 5px;
  z-index: 1;
  background: #454545;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.6);
}

.camera .icon-container:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  top: 12px;
  left: 32px;
  z-index: 10;
  border-radius: 10px;
  background: #ffd700;
  box-shadow: 0 0 1px 0 rgba(34, 43, 67, 0.8);
}

/* notes */
.notes {
  background: #fafafa;
  background: -webkit-linear-gradient(top, #ffdb44 0%, #ffcc00 29%, #d3b64a 30%, #d5dbf2 31%, #fafafa 32%);
  background: -moz-linear-gradient(top, #ffdb44 0%, #ffcc00 29%, #d3b64a 30%, #d5dbf2 31%, #fafafa 32%);
  background: -ms-linear-gradient(top, #ffdb44 0%, #ffcc00 29%, #d3b64a 30%, #d5dbf2 31%, #fafafa 32%);
  background: -o-linear-gradient(top, #ffdb44 0%, #ffcc00 29%, #d3b64a 30%, #d5dbf2 31%, #fafafa 32%);
  background: linear-gradient(top, #ffdb44 0%, #ffcc00 29%, #d3b64a 30%, #d5dbf2 31%, #fafafa 32%);
}

.notes .icon-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  
}

.notes .icon-container:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 44px;
  top: 24px;
  left: 0;
  border-top: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
  background: -webkit-linear-gradient(top, transparent 49%, gainsboro 50%, gainsboro 51%, transparent 52%);
  background: -moz-linear-gradient(top, transparent 49%, gainsboro 50%, gainsboro 51%, transparent 52%);
  background: -ms-linear-gradient(top, transparent 49%, gainsboro 50%, gainsboro 51%, transparent 52%);
  background: -o-linear-gradient(top, transparent 49%, gainsboro 50%, gainsboro 51%, transparent 52%);
  background: linear-gradient(top, transparent 49%, gainsboro 50%, gainsboro 51%, transparent 52%);
}

.notes .icon-container:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 20px;
  top: 35px;
  left: 0;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 3px 3px;
  background-image: -webkit-radial-gradient(50% 50%, circle contain, #c3c3c3 50%, transparent 51%);
  background-image: -moz-radial-gradient(50% 50%, circle contain, #c3c3c3 50%, transparent 51%);
  background-image: -ms-radial-gradient(50% 50%, circle contain, #c3c3c3 50%, transparent 51%);
  background-image: -o-radial-gradient(50% 50%, circle contain, #c3c3c3 50%, transparent 51%);
  background-image: radial-gradient(50% 50%, circle contain, #c3c3c3 50%, transparent 51%);
}

.calendar {
  background: #fff;

}
.icon:after {
    content: attr(data-app-name);
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: calc(100% + 6px);
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.calendar .icon-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.calendar .week {
  margin-top: 6px;
  display: block;
    font-size: 8px;
    display: block;
    text-align: center;
}

.calendar .day {
      text-align: center;
      display: block;
      font-size: 34px;
}

/* papago */
/* body: 00A1FF */

.papago {
  background: #F7F7F7;
}


/* papago */

.papago .icon-container {
  width: 48px;
  height: 48px;
}

.papago  .body {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 20px;
  left: 10px;
  overflow: hidden;
}

.papago .body:before {
  position: absolute;
  content: '';
  background: #00A1FF;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  top: -28px;
  left: -28px;
  
}

.papago .body .shadow:before {
  position: absolute;
  content: '';
  background: #0082F7;
  width: 80px;
  height: 80px;
  border-radius: 56px;
  top: -44px;
  left: -64px;
}

.papago .head {
  position: absolute;
  background: #00A1FF;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  left: 10px;
  z-index:2;
}


.papago .neck {
  position: absolute;
  background: #00A1FF;
  width: 28px;
  height: 6px;
  left: 10px;
  top: 14px;
}



.papago .wing {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 20px;
  left: 5px;
  overflow: hidden;
}

.papago .wing:before {
  position: absolute;
  content: '';
  background: #00A1FF;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  top: -31px;
  left: -34px;
}


.papago .wing:after {
  position: absolute;
  content: '';
  background: #F7F7F7;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  top: -59px;
  left: -115px;
}

.papago .face {
  background: #fff;
  width: 22px;
  height: 22px;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 20px;
}

.papago .eye {
  position: absolute;
  background: black;
  width: 5px;
  height:5px;
  border-radius: 50%;
  top: 7px;
  left: 3px;
}

.papago .mouth {
  position: absolute;
  background: #f7f7f7;
  width: 28px;
  height: 28px;
  /* border-radius: 28px; */
  left: 25px;
  top: -13px;
  z-index: 2;
  overflow: hidden;
}

.papago .mouth:before {
  position: absolute;
  content: '';
  background: #20D365;
  width: 34px;
  height: 34px;
  border-radius: 34px;
  left: -17px;
  top: 13px;
  z-index: 2;
}

.papago .mouth2 {
  position: absolute;
  /* background: #f7f7f7; */
  width: 13px;
  height: 11px;
  /* border-radius: 28px; */
  left: 25px;
  top: 15px;
  z-index: 2;
  overflow: hidden;
}

.papago .mouth2 .bg {
  position: absolute;
  content: '';
  background: #f7f7f7;
  width: 26px;
  height: 26px;
  border-radius: 24px;
  left: -12px;
  top: -15px;
  z-index: 2;
  overflow:hidden;
}

.papago .mouth2 .bg:before {
  position: absolute;
  content: '';
  background: #F7BE04;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 5px;
  transform: rotate(13deg);
}

.papago .hair {
  position: absolute;
  width: 15px;
  height: 6px;
  top: -2px;
  left: 10px;
  overflow: hidden;
}

.papago .hair:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 14px;
  background: #00A1FF;
  border-radius: 30px;
  top: -8px;
  /* left: 10px; */
}

.papago .hair:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 30px;
  background: #f7f7f7;
  border-radius: 53px;
  top: -28px;
  left: -9px;
}
.line {
  --line-color: #47CB00;
  background: var(--line-color);
}
.line .icon-container {
  width: 100%;
  height: 100%;
}
.line .balloon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 34px;
  background: white;
  border-radius: 50%;
}
.line .balloon .tail {
  position: absolute;
  bottom: -3px;
  left: 50%;
  border-top: 20px solid white;
  border-right: 18px solid transparent;
  transform-origin: 0 calc(100% - 3px);
  transform: rotate(5deg);
}
.line .balloon .tail:before, .line .balloon .tail:after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 4px;
  background: white;
  bottom: 0;
  transform: translate(-50%, 2px);
  transform-origin: 50% calc(100% - 2px);
}
.line .balloon .tail:before {
  height: 26px;
}
.line .balloon .tail:after {
  height: 22px;
  transform: translate(-50%, 2px) rotate(47deg);
}

.line .character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: var(--line-color);
  font-size: 13px;
  z-index: 1;
}
.dock .icon {
  margin: 0;
  margin-left: 27px;
}
.dock .icon:first-child {
  margin-left: 0px;
}

.naver-map {

  background: white;
}

.naver-map .icon-container {
  border-radius: 15px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.icon.naver-map .anchor {
  position: absolute;
  background: #5e5;
  top: 10px;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  z-index: 1000;
}

.icon.naver-map .anchor:after {
  content: 'N';
  position: absolute;
  font-size: 20px;
  color: white;
  transform: rotate(45deg) translate(-50%);
  left: 11px;
  top: 9px;
  font-weight: 900;
  text-shadow: 1px 0 white;
}

.icon.naver-map .road {
  width: 60px;
  height: 12px;
  top: 35px;
  left: 18px;
  background: #55e;
  transform: skew(45deg);
  box-shadow: #97daf055 -1px 7px 2px 0px;
  position: absolute;
}

.icon.band {
  background: #1BCC21;
}

.band .icon-container {
  width: 100%;
  height:100%;
}

.band .b {
  transform: scale(1.2)
}
.band .size6 {
  width: 28px;
  height:28px;
  position: absolute;
  background:white;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 14px;
}

.band .size5 {
  width: 24px;
  height:24px;
  position: absolute;
  background:#1BCC21;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 16px;
}


.band .size4 {
  width: 20px;
  height:20px;
  position: absolute;
  background:white;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 18px;
}

.band .size3 {
  width: 16px;
  height:16px;
  position: absolute;
  background:#1BCC21;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 20px;
}

.band .size2 {
  width: 12px;
  height:12px;
  position: absolute;
  background:white;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 22px;
}

.band .size1 {
  width: 8px;
  height:8px;
  position: absolute;
  background:#1BCC21;
  transform: translate(-50%);
  left: 50%;
  border-radius: 50%;
  top: 24px;
}

.band .square {
  width: 10px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 16px;
  background: white;
  z-index:4;
}
.band .square2 {
  width: 6px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
  background: #1BCC21;
  z-index:4;
}

.band .square3 {
  width: 2px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 20px;
  background: white;
  z-index:4;
}


.band .circle1 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: 16px;
  background: white;
  border-radius:50%;
}
.band .circle2 {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 10px;
  left: 18px;
  background: #1BCC21;
  border-radius:50%;
}

.band .circle3 {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 12px;
  left: 20px;
  background: white;
  border-radius:50%;
}

.deview {
  font-size: 20px;
  background: white;

}

.icon.series {
  background: #1BCC21;
}
.icon.series .icon-container {
  width: 100%;
  height: 100%;
}

.icon.series .box {
  z-index: 3;
  width: 40px;
  height: 40px;
  top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: black;
  border-radius: 8px;
}

.icon.series .rectangle {
  left: 50%;
  transform: translate(-50%) skewY(5deg);
  position: absolute;
  width: 16px;
  height: 6px;
  background: #1BCC21;
  z-index: 5;
  border-radius: 1px;
  
}


.icon.series .top {
  top: 20px;
}

.icon.series .top:after {
  content: '';
  position: absolute;
  left: 12px;
  width: 21px;
  height: 3px;
  top: 3px;
  right: 0;
  background: #1BCC21;
}

.icon.series .bottom {
  bottom: 20px;
}


.icon.series .bottom:after {
  content: '';
  position: absolute;
  left: -15px;
  width: 21px;
  height: 3px;
  top: 0px;
  /* right: 0; */
  background: #1BCC21;
}

.icon.egjs {
  background: #111;
  color: white;
}
.icon.egjs p {
  letter-spacing: 1px;
}
.icon.egjs span {
  color: #F5C720;
}