.photo-app {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    transition: opacity ease 0.5s;
    border-radius: 40px;
    overflow: hidden;
}

.photo-app .app-header {
    height: 100px;
    font-size: 16px;
    color: white;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    padding: 60px 20px 0px;
    background: rgba(33, 33, 33, 0.1);
    z-index: 1;
}
.photo-app .app-header:after {
    content: "최근 항목";
    position: absolute;
    left: 20px;
    top: 100%;
    font-size: 20px;
    font-weight: bold;
}
.photo-app .back {
    cursor: pointer;
    display: inline-block;
}
.photo-app .back button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
    appearance: none;
    border: 0;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}
.photo-app .back button:before, .photo-app .back button:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    background: white;
    top: 50%;
    left: 30%;
    transform-origin: 1px 50%;
}
.photo-app .back button:before {
    transform: translateY(-50%) rotate(-45deg);
}
.photo-app .back button:after {
    transform: translateY(-50%) rotate(45deg);
}
.photo-app .container {
    position: relative;
    height: 100%;
}
.photo-app .item {
    width: 121px;
    height: 121px;
}

.photo-app .item img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}